.carousel {
    border-radius: 20px;
    width: 100%;
    background-color: #1D6FB6;
}

.carouselSlide {
    border-radius: 25px;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carouselImage {
    border-radius: 20px;
    display: block;
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.carouselImage:hover {
    animation: translateY 2s infinite alternate;
}

@keyframes translateY {
    from {
        transform: translateY(0) scale(1);
    }
    to {
        transform: translateY(-8px) scale(1.1);
    }
}