.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:rgb(19, 72, 119);
    padding-top: 50px;
    gap: 30px;
    margin-top: 150px;
}

.logoFooter img {
    width: 200px;
    height: 200px;
}

.copyright p {
    font-family: 'Sometype Mono';
    color: aliceblue;
}