.containerFullLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding-bottom: 50px;
    background: linear-gradient(to bottom, #222020, #1D6FB6);
    background-size: 100% 50%;
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

.logo {
    display: flex;
    justify-content: end;
    flex: 1;
}

.logo img {
    width: 300px;
    height: 300px;
}

.description {
    display: flex;
    flex-direction: column;
    flex: 20%;
    width: 100%;
    margin-left: 40px;
}

.description div h1 {
    margin: 0;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 40px;
    color: #1D6FB6;
}

.descriptionConfiguration {
    display: flex;
}

.descriptionConfiguration div h1:hover {
    cursor:context-menu;
    animation: translateY 10s infinite alternate;
    color: aliceblue;   
}

/* Animação no eixo y: */
@keyframes translateY {
    from {
        transform: translateY(0) scale(1);
    }
    to {
        transform: translateY(-8px) scale(1.1);
    }
}

.descriptionP {
    margin-left: 10px;
}

.descriptionP p {
    font-weight: 600;
    font-family: 'Inter';
    font-size: 20px;
    color: #7A7B85;
}

#descriptionUnivName p {
    margin-top: 0;
    width: 100%;
    font-family: 'Inter';
    color: #7A7B85;
    font-size: 35px;
}