.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: sticky;
    z-index: 100;
    top: 0;
    background-color: #2A3E85;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

/* Animação no eixo y: */
@keyframes translateY {
    from {
        transform: translateY(0) scale(1);
    }
    to {
        transform: translateY(-8px) scale(1.1);
    }
}

.headerLogo {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.headerLogo img {
    width: 130px;
}

.nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.nav div a{
    font-family: "Inter";
    color: #2690ee;
    font-weight: 800;
}

.nav div a:hover {
    color: aliceblue;
}

.nav div:hover {
    animation: translateY 0.8s infinite alternate;
}