.aboutContainer {
    display: flex;
    flex-direction: column;
    background-color: #1D6FB6;
}

.descriptionArea {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.descriptionText {
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    display: flex;
    align-items: center;
    width: 500px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

@keyframes translateY {
    from {
        
        transform: translateY(0) scale(1);
    }
    to {
        transform: translateY(-8px) scale(1.1);
    }
}



.descriptionText p {
    font-size: 18px;
    color: rgb(228, 231, 234);
    font-family: 'Sometype Mono';
    font-weight: 590;
    text-align: justify;
    margin-bottom: 0px;
    margin-top: 0px;
}