.aboutContainer {
    display: flex;
    flex-direction: column;
    background-color: #1D6FB6;
}



.descriptionArea {
    display: flex;
    justify-content: center;
}

.descriptionText {
    display: flex;
    align-items: center;
    width: 350px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.descriptionText p {
    font-size: 18px;
    color: aliceblue;
    font-family: 'Inter';
    font-weight: 550;
    text-align: justify;
}